{% extends base_template() %}

{% if title %}
    {% set pageTitle = title %}
{% endif %}

{% block content %}<div id="custom-page">{{ rendered_content|raw }}</div>{% endblock %}

{% block head_extra %}
    {% include cargo("custom_head_extra") ignore missing %}
{% endblock %}