<div id="bridge_page_list_header">{% include cargo("bridge_pages_list_header") ignore missing %}</div>
<div id="bridge_page_list_contents">{% include cargo("bridge_pages_list_contents") ignore missing %}</div>
<div id="bridge_page_list_footer">{% include cargo("bridge_pages_list_footer") ignore missing %}</div>