<h2>{{ __("Airship - Bridge") }}</h2>

<div id="bridge-home-greeting">
    {{ __("Welcome, %s.", "default", user_display_name()) }}
</div>
<div class="table full-width">
    <div class="table-row">
        <div class="table-cell">
            <h2 class="bridge-home-header">{{ __("Actions") }}</h2>
        </div>
        <div class="table-cell table-min-width">
            <h2 class="bridge-home-header">{{ __("Statistics") }}</h2>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell bottom-extra-pad" id="bridge-home-actions">
            {% include cargo("bridge_home_actions") %}
        </div>
        <div class="table-cell table-min-width cell-pad-right bottom-extra-pad" id="bridge-home-stats">
            {% include cargo("bridge_home_stats") %}
        </div>
    </div>
</div>
{% include cargo("bridge_home_announcements") %}