<div id="blog_post_history_header">
    {% include cargo("bridge_blog_post_history_header") %}
</div>
<div id="blog_post_history_revision_list">
    {% include cargo("bridge_blog_post_history_list") %}
</div>