{% if can_create() %}
    <a id="new_dir" class="pure-button pure-button-secondary">
        {{ __("New Directory") }}
    </a>

    <a id="new_page" class="pure-button pure-button-secondary">
        {{ __("New Page") }}
    </a>
{% endif %}