{% extends base_template() %}

{% block content %}
    <h2>{{ __("HTTP 404 / File Not Found") }}</h2>

    <p>
        {{ __("We could not find the file you were looking for.") }}
    </p>
{% endblock %}