{% extends base_template() %}
{% set title = (__("Error ") ~ error) %}

{% block main %}
    <h2 class="bottom-pad">{{ error|e('html_attr') }}</h2>
    {% if error == '403 Forbidden' %}
        <p>
            {{ __("You have not been granted access to this resource.") }}
        </p>
    {% else %}
        <p>
            {{ __("An unknown error has occurred.") }}
        </p>
    {% endif %}
{% endblock %}