{% extends base_template() %}

{% block main %}
    <h2>{{  __("Redirects") }}</h2>
    <p class="summary-text">
        {{ __("This section of the Bridge allows you to create and manage redirects.") }}
    </p>
    <div id="custom_redirect_index">
        {% include cargo("bridge_redirect_index") ignore missing %}
    </div>
{% endblock %}