{% extends "base.twig" %}

{% block content %}
<div class="rwidth66 center">
    <form
        id="dbForm"
        action="/"
        method="post"
    >{{ form_token() }}
            
    <h1>Set Up Your Administrator Account</h1>
    {% if password_weak %}
        <p class="error">
            The password you provided is too weak.
            Please try again with a more secure password.
            If you need help creating and remembering secure passwords,
            get a password manager such as <a target="_blank" href="https://github.com/keepassx/keepassx/" rel="noopener noreferrer">KeePassX</a>.
        </p>
    {% endif %}
    
    <p>
        This account will have the keys to the kingdom. Using a password manager
        such as <a href="https://www.keepassx.org/">KeePassX</a> to generate and
        remember your credentials is highly recommended.
    </p>
    
    <div class="pure-form pure-form-stacked">
        <label for="username">
            Administrator Username:
        </label>
        <input class="pure-input-1" type="text" name="username" placeholder="captain" />
        
        <label for="passphrase">
            Administrator Passphrase:
        </label>
        <input class="pure-input-1" type="password" name="passphrase" id="passphrase" />
        <div id="password_feedback"></div>

        <br />
        <button name='fast_config' value='1' class='pure-button pure-button-primary pure-input-1'>
            Use Default Configuration &raquo;
        </button>
        <br />
        <br />
        <button name='advanced' value='1' class='pure-button pure-button-tertiary pure-input-1'>
            Continue with Advanced Install &raquo;
        </button>

    </div>
    
    </form>
</div>
<script src="{{ "/js/zxcvbn.js"|cachebust }}"></script>
{% endblock %}

{# Style definitions are stored in other Twig templates #}
{% block js %}
    {% include "js/admin_account.js.twig" %}
{% endblock %}
{% block css %}
    {% include "css/main.css.twig" %}
    {% include "css/admin_account.css.twig" %}
{% endblock %}