{% extends "base.twig" %}

{% block content %}
<div class="rwidth66 center">
    <h1>Advanced Configuration</h1>
    
    <form
        id="dbForm"
        action="/"
        method="post"
    >{{ form_token() }}
    
    <fieldset class="general">
        <legend class="fieldset">General Settings</legend>
        <div class="pure-form pure-form-stacked">
            <label for="ledger_driver">
                Application Logs:
            </label>
            <select class="pure-input-1" id="ledger_driver" name="config[ledger][driver]">
                <option value="file">Store logs in the filesystem</option>
                <option value="database">Store logs in a database table</option>
            </select>
            
            <label for="ledger_details" id="ledger_details_label">
                Log Directory:
            </label>
            <input class="pure-input-1" id="ledger_details" type="text" name="config[ledger][path]" value="~/tmp/logs" />
            <hr />
            
            <label for="cookie_auth_token">
                Long-Term Authentication Cookie Name:
            </label>
            <input class="pure-input-1" id="cookie_auth_token" type="text" name="config[cookie_index][auth_token]" value="airship_token" />

            <label for="session_userid">
                Session Index for User ID:
            </label>
            <input class="pure-input-1" id="session_userid" type="text" name="config[session_index][user_id]" value="userid" />

            <label for="session_userid">
                Session Index for Logout Tokens:
            </label>
            <input class="pure-input-1" id="session_userid" type="text" name="config[session_index][logout_token]" value="logout_token" />
            
        </div>
    </fieldset>
    
    <fieldset class="network">
        <legend class="fieldset">Network Configuration</legend>
        
        {% if tor_installed %}
            <input id="network-tor" type="checkbox" name="config[tor-only]" value="1" />
            <label for="network-tor">
                Proxy all requests over <a href="https://www.torproject.org/about/overview">Tor</a>?
            </label>
        {% else %}
            <strong class="bold_failure"><i class="fa fa-close"></i> Tor is not available.</strong>
            If you had <a href="https://www.torproject.org/about/overview">Tor</a>
            installed, you could anonymize all of your Airship's outgoing traffic
            through the Tor network.
        {% endif %}
        <br />
        
    </fieldset>

    <!-- Default guest group -->
    <input type="hidden" name="config[guest-groups][]" value="1" />

    <fieldset class="updates">
        <legend class="fieldset">Automatic Updates</legend>
        <div class="pure-form pure-form-stacked">
            <label for="update_frequency">
                Check For Updates Every:
            </label>
            <select class="pure-input-1" id="update_frequency" name="config[auto-update][check]">
                <option value="900">15 Minutes</option>
                <option value="1800">30 Minutes</option>
                <option selected="selected" value="3600">1 Hour (60 Minutes) - Recommended</option>
                <option value="21600">6 Hours</option>
                <option value="43200">12 Hours</option>
                <option value="86400">24 Hours (1 Day)</option>
                <option value="604800">7 Days (1 Week)</option>
            </select>
        </div>

        <fieldset class="updates_auto">
            <legend>Automatically apply changes to:</legend>

                <input id="update_major" type="checkbox" name="config[auto-update][major]" value="1" />
                <label for="update_major">Major version changes (e.g. <code>1.5.2 -> 2.0.0</code>)</label><br />

                <input id="update_minor" type="checkbox" name="config[auto-update][minor]" value="1" />
                <label for="update_minor">Minor version changes (e.g. <code>1.5.2 -> 1.6.0</code>)</label><br />

                <input id="update_patch" type="checkbox" name="config[auto-update][patch]" value="1" checked="checked" />
                <label for="update_patch">Patch version changes (e.g. <code>1.5.2 -> 1.5.3</code>)</label><br />
        </fieldset>

    </fieldset>
    
    <hr />
    
    <div class="continue-btn-wrapper">
        <button class='pure-button pure-button-primary'>Save and Continue &raquo;</button>
    </div>
    
    </form>
</div>
{% endblock %}

{# Style definitions are stored in other Twig templates #}
{% block js %}
    {% include "js/config.js.twig" %}
{% endblock %}
{% block css %}
    {% include "css/main.css.twig" %}
    {% include "css/config.css.twig" %}
{% endblock %}