{% if items %}
    <option value="">-- {{ __("Please Select a Series") }} --</option>
    {% for item in items %}
        <option value="{{ item.seriesid|e('html_attr') }}">{{ item.name|e('html') }}</option>
    {% endfor %}
{% endif %}