html, body {
    height: 100%;
}
.header_wrap {
    display: block;
    clear: both;
    height: 42px;
    padding-top: 4px;
}
.header_wrap img {
    height: 38px;
    padding-right: 0.5rem;
}
header h1, header h2 {
    margin: 0;
}

nav ul.navigation {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul.navigation > li {
    display: inline-block;
}
nav ul.navigation > li + li {
    margin-left: 1ex;
}
#site-wrapper {
    display: block;
    min-height: 100%;
    margin-bottom: -52px;
}
#content {
    margin: 0 auto;
    min-height: 100%;
    padding-left: 1em;
    padding-right: 1em;
}
footer {
    height: 52px;
}
@media (max-width: 767px) {
    .blog-sidebar {
        padding: 1ex;
    }
    .rwidth66 {
        width: calc(100% - 1rem);
        width: 95%;
    }
    .responsive-md-half {
        display: block;
    }
    .responsive-md-half > * {
        display: block;
        vertical-align: top;
    }
    #bridge_left {
        max-width: calc(25% - 1rem);
    }
}
@media (min-width: 768px) {
    .blog-wrapper {
        display: table;
        width: 100%;
    }
    .blog-main {
        display: table-cell;
        width: 80%;
    }
    .blog-sidebar {
        display: table-cell;
        min-width: 176px !important;
        padding: 1em;
        width: 20%;
    }
    .rwidth66 {
        width: 66.6%;
        min-width: 730px;
    }
    .responsive-md-half {
        display: table;
        width: 100%;
    }
    .responsive-md-half > * {
        display: table-cell;
        vertical-align: top;
        width: 50%;
    }
    .comment-form {
        display: table;
        width: 100%;
    }
    .comment-form .form-row {
        display: table-row;
    }
    .comment-form .form-column {
        display: table-cell;
    }
    .form-column {
        vertical-align: top;
    }
    .comment-form .form-column:first-of-type {
        padding-right: 1ex;
        text-align: right;
        width: 160px;
    }
    #bridge_left {
        max-width: calc(20% - 1rem) !important;
    }
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.inblock {
    display: inline-block !important;
}
.text-center {
    text-align: center !important;
}
.textright {
    text-align: right !important;
}
.full-width {
    width: 100% !important;
}
.width50 {
    width: 50%;
}
.blog-wrapper {
    width: 100%;
}
.blog_year {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.blog_month {
    list-style: none;
    margin-left: 0;
    padding-left: 20px;
}
#blog_menu_dates, #blog_menu_dates ul {
    list-style: none;
    margin-left: 0 !important;
    padding-left: 0;
}
#blog_menu_dates li {
    list-style: none;
    margin-left: 0;
    padding-left: 20px;
}
.blog_categories {
    list-style: none;
    padding-left: 20px;
}
.tagcloud {
    display: inline !important;
    padding: 0;
    margin: 0;
}
.tagcloud li {
    display: inline-block !important;
    padding: 0 1ex 0 0;
    margin: 0;
}
.blog_read_series_wrapper {
    display: block;
    width: 100%;
}
.blog_read_series {
    display: table;
    width: 100%;
}
.blog_read_series div {
    display: table-cell;
}
.blog_read_series_left {
    width: 15%;
    text-align: left;
}
.blog_read_series_right {
    width: 15%;
    text-align: right;
}
.blog_read_series_name {
    width: 70%;
    text-align: center;
}
#pagination {
    text-align: center;
}
.pages {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}
.pages li {
    min-width: 2em;
}
.pagination_prev,
.pagination_next,
.pagination_first,
.pagination_last {
    display: inline-block;
}
.pagination_current {
    font-weight: bold;
    text-align: center;
}
.pagination_page {
    display: inline-block;
}
@media screen and (max-width: 400px) {
    .page_hide_2 {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .page_hide_3 {
        display: none;
    }
}
@media screen and (max-width: 550px) {
    .page_hide_4 {
        display: none;
    }
}
@media screen and (max-width: 850px) {
    .page_hide_5 {
        display: none;
    }
}
@media screen and (max-width: 950px) {
    .page_hide_6 {
        display: none;
    }
}
@media screen and (max-width: 1050px) {
    .page_hide_7 {
        display: none;
    }
}
@media screen and (max-width: 1160px) {
    .page_hide_8 {
        display: none;
    }
}
@media screen and (max-width: 1250px) {
    .page_hide_9 {
        display: none;
    }
}
@media screen and (max-width: 1350px) {
    .page_hide_10 {
        display: none;
    }
}
@media screen and (max-width: 1450px) {
    .page_hide_11 {
        display: none;
    }
}
@media screen and (max-width: 1550px) {
    .page_hide_12 {
        display: none;
    }
}
@media screen and (max-width: 1650px) {
    .page_hide_13 {
        display: none;
    }
}
@media screen and (max-width: 1750px) {
    .page_hide_14 {
        display: none;
    }
}
@media screen and (max-width: 1850px) {
    .page_hide_15 {
        display: none;
    }
}
@media screen and (max-width: 1950px) {
    .page_hide_16 {
        display: none;
    }
}
@media screen and (max-width: 2050px) {
    .page_hide_17 {
        display: none;
    }
}
@media screen and (max-width: 2150px) {
    .page_hide_18 {
        display: none;
    }
}
@media screen and (max-width: 2250px) {
    .page_hide_19 {
        display: none;
    }
}
@media screen and (min-width: 1051px) and (max-width: 1250px) {
    .table-label {
        max-width: 180px;
        width: 180px;
    }
}
@media screen and (min-width: 1251px) and (max-width: 1450px) {
    .table-label {
        max-width: 200px;
        width: 200px;
    }
}
@media screen and (min-width: 1451px) and (max-width: 2150px) {
    .table-label {
        max-width: 220px;
        width: 220px;
    }
}
.page_hide_20 {
    display: none;
}
.select-author-name {
    padding-left: 20px;
}
#blog_comments_form {
    margin-left: 2.5em;
    margin-right: 2.5em;
}
.blog-sidebar-tagcloud-wrapper {
    padding: 1em;
}
label.required-form::after {
    color: #f00;
    content: "*";
}
.blog-comment-error {
    color: red;
    font-weight: bold;
}
.monospace {
    font-family: monospace !important;
}
.icon-pad-right {
    padding-right: 0.66ex;
}
.form-table {
    display: table;
    width: 100%;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
}
#main-wrapper {
    display: table;
    height: 100%;
    min-height: 100%;
    width: 100%;
}
#bridge_table {
    display: table;
    width: 100%;
    margin: 1em 0;
}
#announcement {
    display: table-caption;
    padding: 1ex;
}
#bridge_left {
    display: table-cell;
    line-height: 1.25;
    min-width: 50px;
    vertical-align: top;
    white-space: nowrap;
    width: 1px;
}
#bridge_left ul {
    padding-right: 10px;
}
#bridge_main {
    display: table-cell;
    padding: 1rem;
    vertical-align: top;
}
.bridge-menu,
.bridge-menu ul {
    list-style: none;
    padding-left: 1.25rem;
}
#bridge_main *:first-child {
    margin-top: 0;
}
#bridge_main *:last-child {
    margin-bottom: 0;
}
.bridge-main-link {
    font-weight: bold;
}
#my_account_form fieldset {
    border-color: rgba(0, 0, 0, 0.33);
}
#my_account_form fieldset + fieldset{
    margin-top: 1ex;
}
#my_account_form .form-row {
    display: table-row;
}
#my_account_form .form-column {
    display: table-cell;
    vertical-align: top;
}
#my_account_form .form-row > .form-column:first-of-type {
    padding-right: 1ex;
    text-align: right;
    width: 160px;
}
.bridge_file_list_contents,
.bridge_page_list_contents {
    display: table;
    width: 100%;
}
.bridge_file_list_contents .header_row,
.bridge_page_list_contents .header_row {
    font-weight: bold;
}
.bridge_file_list_contents_row,
.bridge_page_list_contents_row {
    display: table-row;
}
.bridge_file_list_contents_row > div,
.bridge_page_list_contents_row > div {
    display: table-cell;
}
.form-table {
    display: table;
    width: 100%;
}
.table {
    display: table;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
}
.inline {
    display: inline;
}
.inline-list {
    display: inline;
    list-style: none;
    padding: 0;
}
.inline-list li {
    display: inline-block;
}
.rich_text_tab_row {
    display: block;
}
.rich_text_tab_row a {
    display: inline-block;
    padding: 0.25ex 0.5ex;
    cursor: pointer;
}
.rich_text_tab_row a + a {
    margin-left: 0.5ex;
}
.rich_text_show_one {
    padding: 0.5em;
    width: calc(100% - 1em);
}
.rich_text_textarea_wrapper {
    text-align: center;
}
.full-width {
    width: 100% !important;
}
.full-textarea {
    min-height: 8em;
    min-width: 20em;
    max-width: 100%;
    width: calc(100% - 1em);
}
.gpg-textarea {
    font-family: monospace;
    min-height: 8em;
    min-width: 20em;
    max-width: 100%;
    width: 42em;
}
#page_history_revision_list .table {
    display: table;
    width: 100%;
}
#page_history_revision_list .table-header {

}
#page_history_nav {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
}
#page_history_nav li {
    display: table-cell;
}
#page_history_nav li:first-child {
    text-align: left;
}
#page_history_nav li:last-child {
    text-align: right;
}
#bridge_author_list,
#bridge_comments_list,
#bridge_blog_list,
#bridge_tag_list {
    width: 100%;
}
.bridge_blog_post_tags li {
    padding-right: 1ex;
}
#bridge_blog_header,
#bridge_author_header {
    margin-bottom: 0.5ex;
}
#bridge_author_list {
    width: 100%;
}
#bridge_blog_pagination {
    margin-top: 0.5ex;
}
#new-category-form .table-cell {
    padding: 1px;
}
.text-right {
    text-align: right !important;
}
.vertical-bottom {
    vertical-align: bottom;
}
#bridge_files_info_img_nav {
    display: inline;
    list-style-type: none;
    padding: 0;
}
#bridge_files_info_img_nav li {
    display: inline-block;
}
@media screen and (min-width: 1051px) and (max-width: 1250px) {
    .full-textarea {
        height: 16em;
    }
    .table-label {
        max-width: 180px;
        width: 180px;
    }
}
@media screen and (min-width: 1251px) and (max-width: 1450px) {
    .full-textarea {
        height: 20em;
    }
    .table-label {
        max-width: 200px;
        width: 200px;
    }
}
@media screen and (min-width: 1451px) and (max-width: 2150px) {
    .full-textarea {
        height: 24em;
    }
    .table-label {
        max-width: 220px;
        width: 220px;
    }
}
@media screen and (min-width: 2151px) {
    .full-textarea {
        height: 40em;
    }
}
.table-label {
    padding-right: 1ex;
    text-align: right;
}
.align-top {
    vertical-align: top;
}
.permlist_perm,
.permtable_perm {
    text-align: center;
}
.test-cabin-list {
    list-style-type: none;
    padding-left: 0;
}
.min-width-100 {
    min-width: 100px;
}
.bottom-extra-pad {
    padding-bottom: 1.5ex;
}

#three-way-split {
    display: table;
}
#three-way-split ul {
    display: table-cell;
    list-style: none;
    padding: 0;
    vertical-align: top;
}
#three-way-split ul li a {
    cursor: pointer;
}
.update-log {
    width: 100%;
}
.update-log th, .update-log td {
    padding: 6px 8px;
    text-align: left;
    vertical-align: top;
}
.update-log th:first-child, .update-log td:first-child {
    padding-left: 0;
}
.update-log th:last-child, .update-log td:last-child {
    padding-right: 0;
}
.update-log th {
    font-weight: bold;
}
.update-log-entry-actions {
    text-align: right !important;
}
.update-log-textarea {
    width: 100% !important;
    box-sizing: border-box;
    padding: 4px;
}
.update-log-hidden {
    display: none;
}
