{% extends base_template() %}

{% block main %}
    <h2>{{  __("Redirects for " ~ cabin|e('html')) }}</h2>
    <div id="bridge_redirects_for_cabin">
        {% include cargo("bridge_redirect_for_cabin") ignore missing %}
    </div>
{% endblock %}