{
    /*         Placeholders allowed:
        // These match (but don't capture) an optional / prefix:
            '{_any}'
            '{_id}'
            '{_year}'
            '{_month}'
            '{_day}'
            '{_isodate}'
            '{_lower}'
            '{_upper}'
            '{_page}'
            '{_slug}'
            '{_uslug}'
            '{_lslug}'
            '{_string}'
            '{_hex}',
        // Without the / prefix:
            '{any}'
            '{id}'
            '{year}'
            '{month}'
            '{day}'
            '{isodate}'
            '{lower}'
            '{upper}'
            '{slug}'
            '{uslug}'
            '{lslug}'
            '{string}'
            '{hex}'
    */
    "*\/bridge": {
            // Only respond over HTTPS (recommended!):
            "https": false,
            // Used in cross-cabin hyperlinks:
            "canon_url": "http:\/\/localhost\/bridge",
            "language": "en-us",
            // HTTP Public-Key-Pinning:
            "hpkp": {
                "enabled": false,
                "hashes": [],
                "include-subdomains": false,
                "max-age": 5184000,
                "report-only": false,
                "report-uri": ""
            },
            // Must be unique:
            "name": "Bridge"
        },
        "*": {
            // Only respond over HTTPS (recommended!):
            "https": false,
            // Used in cross-cabin hyperlinks:
            "canon_url": "http:\/\/localhost",
            "language": "en-us",
            // HTTP Public-Key-Pinning:
            "hpkp": {
                "enabled": false,
                "hashes": [],
                "include-subdomains": false,
                "max-age": 5184000,
                "report-only": false,
                "report-uri": ""
            },
            // Must be unique:
            "name": "Hull"
        }
    }