{% spaceless %}
    {% for link in SETTINGS.navbar %}
        <li>
            <a href="{% if link.url[0:2] == '~/' %}{#
                #}{{ cabin_url() ~ link.url[2:]|e('html_attr') }}{#
            #}{% else %}{#
                #}{{ cabin_url() ~ link.url[2:]|e('html_attr') }}{#
            #}{% endif %}{#
            #}">{{ link.translate ? __(link.label)|e('html') : link.label|e('html') }}</a>
        </li>
    {% endfor %}
{% endspaceless %}