<div id="blog_header_inner">
<h1>{{ blogTitle | default(
        SETTINGS.blog.title | default('Airship Blog')
    ) }}</h1>
{% if blogtagline or SETTINGS.blog.tagline %}
<p class="tagline">{{
    blogTagline|default(SETTINGS.blog.tagline)
}}</p>
{% endif %}
</div>