<div id="blog_header_inner">
<h1>{{ blogTitle | default(
        SETTINGS.blog.title | default('Airship Blog')
    ) }}</h1>
<p class="tagline">{{ blogTagline | default(
        SETTINGS.blog.tagline | default('Even the sky shall not limit you.')
    ) }}</p>
</div>