<div class="blogpost_footer blogpost_social">{% if blogpost.shorturl %}
    <span class="blogpost_permalink">
        <a href="/b/{{ blogpost.shorturl|e('url') }}"><i class="fa fa-link"></i>{{ __("Permalink") }}</a>
    </span>
{% endif %}</div>