
{% if config.blog.comments.enabled %}
    <div id="blog-comments-container">{% include cargo("blog_read_comments") ignore missing %}</div>
    {% if userid() or config.blog.comments.guests %}
        <div id="blog-comment-form-container">{% include cargo("blog_comments_form") ignore missing %}</div>
    {% endif %}
{% endif %}