{% extends "base.twig" %}

{% block body %}
    <div id="site-wrapper">
    <header>{% block header %}
            {% include cargo("header") %}
        {% endblock %}</header>
    <div id="content">{% block content %}
        {% endblock %}<hr />Airship Classic</div>
    </div>{#
        #}<footer>{% block footer %}
        {% include cargo("footer") %}
    {% endblock %}</footer>
{% endblock %}