{% extends base_template() %}

{% block main %}
    <div id="custom_files_index">
        {% include cargo("bridge_files_index") ignore missing %}
    </div>
{% endblock %}

{% block page_js %}
    <script src="{{ "/static/Bridge/files_list.js"|cachebust }}"></script>
{% endblock %}