<div id="wizard_box_authors">
    <h3>{{ __("Authors") }}</h3>
    <p>{{ __(
        "An author profile is a pen-name and/or shared identity." ~ " " ~
        "All blog posts and comments are associated with an author profile rather than a user account." ~ " "
    ) }}</p>
</div>