<h2>{{ __("Notaries") }}</h2>

<p>
    {{ __(
        "Notaries are other Airships that verify they're seeing the same data from the update server. " ~
        "The more notaries you add, the more resilient your Airship will be to infrastructure attacks."
    ) }}
</p>
<form method="post">{{ form_token() }}
    <div id="bridge_admin_notaries_list">
        {% include cargo("bridge_admin_notaries_list") %}
    </div>
    <div id="bridge_admin_notaries_list">
        {% include cargo("bridge_admin_notaries_add") %}
    </div>
</form>