<select name="format" id="format"{% if readonly %} readonly="readonly" disabled="disabled"{% endif %}>
    <option {% if format == "HTML"  %} selected{% endif %} value="HTML">HTML</option>
    <option {% if format == "Markdown"  %} selected{% endif %} value="Markdown">Markdown</option>
    <option {% if format == "Rich Text"  %} selected{% endif %} value="Rich Text">Rich Text</option>
    <option {% if format == "RST"  %} selected{% endif %} value="RST">ReStructuredText</option>
</select>