{% if can_create() %}
<a class="pure-button pure-button-secondary" href="{{ SETTINGS.link_prefix }}/blog/post/new">
    <i class="fa fa-pencil-square-o"></i>
    {{ __("Draft a New Blog Post") }}
</a>
{% endif %}