<h1>{{ __("Forgot Your Password - Not Implemented") }}</h1>
<p>{{ __(
    "There is no 'Forgot Password' feature yet, and no guarantee that there ever will be one. " ~
    "Instead, please follow the advice to use a password manager, such as KeePassX so you do not need this feature."
) }}</p>
<p>
    <a href="{{ SETTINGS.link_prefix }}">&laquo; {{ __("Return to the Login Form") }}</a>
</p>