<div id="page_history_header">
    {% include cargo("bridge_pages_page_history_header") %}
</div>
<div id="page_history_revision_list">
    {% include cargo("bridge_pages_page_history_list") %}
</div>