{% if can_edit %}<a class="blog_icon" href="{{ cabin_url() }}blog/category/edit/{{ catdata.categoryid|e('url') }}">{#
    #}<i class="fa fa-pencil" title="Edit Details for {{ catdata.name|e }}"></i>{#
#}</a>{% endif %}{{ catdata.name }}