<label for="full_name">{{ __("Full Name") }}:</label>
<input type="text" id="full_name" name="full_name" placeholder="{{ __("Enter your Full Name") }}" class="pure-input-1" />

<label for="email">{{ __("Email Address") }}:</label>
<input type="text" id="email" name="email" placeholder="user@example.com" class="pure-input-1" />
