<div class="header_wrap bridge_header_wrap">
    <a href="{{ cabin_url('Hull') }}">{#
    #}<img
        alt="{{ __("CMS Airship")|e('html_attr') }}"
        class="float-left"
        src="/img/paragon_initiative_enterprises.png"
        title="{{ __("CMS Airship - Powered by Paragon Initiative Enterprises")|e('html_attr') }}"
    /></a>
    <div id="bridge_greeting_right">
        Hello, {{ user_display_name()|e('html') }}
    </div>
</div>